<html>
  <head>
    <title>Mean Data Generator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <center>
      <h1><a href="/names_generator" class="btn btn-info" role="button">
          Random Names Generator</a><br><br><br>
        <a href="/random_data_generator" class="btn btn-info" role="button">Random Data Generator</a></h1>
    </center>
  </body>
</html>
