<html>
  <head>
    <title>Names Generator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body background="{{ url_for('static', filename = 'images/bg-4-full.jpg') }}">
    <center>
      <font color="white"><h2>How many Names do you want?</h2></font><br>
      <form method="POST" action="/download_names" name="number_of_names">
         
        <input type="number" name="number" id="number">
        <input type="submit" value="Get Names">
      </form>
    </center>
  </body>
</html>

