<html>
  <head>
    <title>Data Generator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>

    <script>
let fields = 1;
function add_field(){
  fields++;
  var i = document.createElement("input");
  i.type = "text";
  i.name = "n"+fields.toString();
  i.id = "n"+fields.toString();
  i.required = true;
  
  var li = document.createElement("Label");
  li.setAttribute("for","n"+fields.toString());
  li.innerHTML = "Name of field:"

  var j=document.createElement("input");
  j.type="Number";
  j.name = "v"+fields.toString();
  j.id = "v"+fields.toString();
  j.step = "0.01";
  j.required = true;

  var lj = document.createElement("Label");
  lj.setAttribute("for","v"+fields.toString());
  lj.innerHTML = "Probability of Field:"


  let f = document.getElementById('form_data');
  var br = document.createElement("br");
  f.appendChild(br);
  f.appendChild(li);   
  f.appendChild(i);
  f.appendChild(lj);     
  f.appendChild(j);
  console.log(fields);
}
    </script>
    Say our question is : "Would you want women as your boss at workplace ?"<br>
    1. Strongly Agree<br>
    2. Strongly Disagree<br>
    3. Agree<br>
    4. Disagree<br>
    5. Neutral<br>
    Now click <strong>More Fields button</strong> button 4 times (as we want 5
    options) and add a
    probabilistic value to each option. Enter the number of entries you want. <br>
    And Press <strong>Get Data Button</strong>. Your randomly generated file in
    order of probabilities with same mean would be downloaded!
    <br><br>
    <hr>
    <center><h2>Form</h2><center>
    <form method="POST" action="/random_data_generator" id="form_data">
      <input type="submit" value="Get Data"><br><br> 
      Number of entries: <input type="number" name="number" id="number" required><br><br>
      <label for="n1">Name of field:</label><input type="text" name="n1" id="n1"
      placeholder="Eg: Strongly Agree/ Neutral" required>
      <label for="v1">Probability of Field:</label><input type="number"
      step="0.01" name="v1" id="v1" placeholder="Eg: 0.10" required>
    </form>
    <button onclick="add_field()">More Fields</button>
  </body>
</html>


